<section id="about-me">
  <div class="about-me-container container">
    <h2 class="visually-hidden">About me</h2>
    <div class="about-me-thumb">
      <p class="about-me-text">
        I work with people all over the world to create impressive and
        <span class="accent-color-text">functional</span>
        <span class="transparent-color-text">websites</span> that reflect each
        client's unique personality.
      </p>
      <picture>
        <source
          srcset="./img/about/about.png 1x, ./img/about/about@2x.png 2x"
          media="(min-width:1440px)"
        />
        <source
          srcset="./img/about/tab-about.png 1x, ./img/about/tab-about@2x.png 2x"
          media="(min-width:768px)"
        />
        <source
          srcset="./img/about/mb-about.png 1x, ./img/about/mb-about@2x.png 2x"
          media="(max-width:767px)"
        />
        <img
          class="about-intro-img"
          src="./img/about/about.png"
          alt="Junior Frontend-developer"
        />
      </picture>
    </div>
    <ul class="about-list about-accordion-container">
      <li class="about-list-item ac">
        <h3 class="about-list-item-title ac-header ac-trigger">
          About me
          <button type="button" class="about-list-btn">
            <svg class="about-list-icon">
              <use href="./img/icons.svg#icon-btn"></use>
            </svg>
          </button>
        </h3>
        <ul class="about-list-text-list ac-panel">
          <div class="ac-text">
            <li class="about-list-text-item paragr">
              I am Lloyd Jefferson, a talented programmer with extensive
              expertise in software development. I have an understanding of
              different programming languages ​​and technologies, always ready
              to improve my skills. I always follow the latest trends and look
              for unconventional, creative solutions to problems. I have a high
              level of analytical skills and am able to effectively solve even
              the most difficult tasks encountered on the way.
            </li>
            <li class="about-list-text-item paragr">
              Able to work both independently and in a team. I can effectively
              cooperate with colleagues, exchanging ideas and finding optimal
              solutions. Professional maturity allows you to calmly cope with
              challenges and stressful situations, while maintaining a high
              quality of work. I am always looking for opportunities for
              self-improvement. I actively study new technologies and practices
              to stay abreast of the latest innovations. I have a strong
              understanding of various programming languages, frameworks and
              architectural concepts that allow me to create efficient and
              scalable software.
            </li>
          </div>
        </ul>
      </li>
      <li class="about-list-item ac">
        <h3 class="about-list-item-title ac-header ac-trigger">
          Role
          <button type="button" class="about-list-btn">
            <svg class="about-list-icon">
              <use href="./img/icons.svg#icon-btn"></use>
            </svg>
          </button>
        </h3>
        <ul class="about-list-text-list ac-panel">
          <div class="ac-text">
            <li class="about-list-text-item">Frontend development</li>
            <li class="about-list-text-item">HeadlessCMS,Wordpress</li>
            <li class="about-list-text-item">Blender(enjoy)</li>
          </div>
        </ul>
      </li>
      <li class="about-list-item ac">
        <h3 class="about-list-item-title ac-header ac-trigger">
          Education
          <button type="button" class="about-list-btn">
            <svg class="about-list-icon">
              <use href="./img/icons.svg#icon-btn"></use>
            </svg>
          </button>
        </h3>
        <ul class="about-list-text-list ac-panel">
          <div class="ac-text">
            <li class="about-list-text-item">
              2018 - 2019 / Frontend Development Diploma, GoIT IT School, New
              York
            </li>
            <li class="about-list-text-item">
              2019 - 2020 / Advanced Web Development Certificate, GoIT IT
              School, New York
            </li>
            <li class="about-list-text-item">
              2020 - 2022 / Advanced Blender Animation Techniques, Udemy
            </li>
          </div>
        </ul>
      </li>
    </ul>
    <div class="about-me-skills">
      <div class="about-me-swiper swiper-wrapper">
        <ul class="swiper-wrapper about-swiper-wraper">
          <li class="swiper-slide about-swiper-slide">HTML/CSS</li>
          <li class="swiper-slide about-swiper-slide">JavaScript</li>
          <li class="swiper-slide about-swiper-slide">React</li>
          <li class="swiper-slide about-swiper-slide">Node.js</li>
          <li class="swiper-slide about-swiper-slide">React Native</li>
          <li class="swiper-slide about-swiper-slide">TypeScript</li>
          <li class="swiper-slide about-swiper-slide">Vue.js</li>
          <li class="swiper-slide about-swiper-slide">Soft Skills</li>
        </ul>
      </div>
      <div class="swiper-button-next">
        <button type="button" class="about-me-swiper-btn">
          <svg class="about-me-swiper-btn-icon">
            <use href="./img/icons.svg#icon-arrow-narrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
