<section class="about">
  <div class="container">
    <div class="about-intro">
      <div class="about-intro-hero">
        <h2 class="about-title visually-hidden">About me</h2>
        <p class="about-intro-text">I work with people all over the world to create impressive and <span class="general-red">functional</span> <span class="general-gray">websites</span> that reflect each client's unique personality.</p>
      </div>
      <div class="about-img">
        <picture>
          <source
            srcset="./img/about/about.png 1x,
            ./img/about/about@2x.png 2x"
            media="(min-width:1440px)"
          />
          <source
            srcset="./img/about/tab-about.png 1x,
            ./img/about/tab-about@2x.png 2x"
            media="(min-width:768px)"
          />
          <source
            srcset="./img/about/mb-about.png 1x,
            ./img/about/mb-about@2x.png 2x"
            media="(max-width:767px)"
          />
          <img
            class="about-intro-img"
            src="./img/about/about.png"
            alt="Junior Frontend-developer"
          />
        </picture>
      </div>
    </div>
  </div>
</section>