<!-- <section class="covers">
  <div class="container container-cov">
    <div class="container-covers">
      <h2 class="visually-hidden">Сovers</h2>
      <ul class="container-covers-list">
        <li class="container-covers-list-item">
          <picture>
            <source
              srcset="
                ../img/covers/laptop/Rectangle-10.png              1x,
                ../img/covers/laptop/laptop-2x/Rectangle-10-2x.png 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ../img/covers/laptop/Rectangle-10.png              1x,
                ../img/covers/laptop/laptop-2x/Rectangle-10-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/covers/mobile/Rectangle-10-mobile.png              1x,
                ../img/covers/mobile/mobile-2x/Rectangle-10-mobile-2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="../img/covers/laptop/Rectangle-10.png"
              class="portfolio-list-img"
              alt="Rectangle-10"
            />
          </picture>
        </li>
        <li class="container-covers-list-item">
          <picture>
            <source
              srcset="
                ../img/covers/laptop/Rectangle-7.png              1x,
                ../img/covers/laptop/laptop-2x/Rectangle-7-2x.png 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ../img/covers/laptop/Rectangle-7.png              1x,
                ../img/covers/laptop/laptop-2x/Rectangle-7-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/covers/mobile/Rectangle-7-mobile.png              1x,
                ../img/covers/mobile/mobile-2x/Rectangle-7-mobile-2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="../img/covers/laptop/Rectangle-7.png"
              class="portfolio-list-img"
              alt="Rectangle-7"
            />
          </picture>
        </li>
        <li class="container-covers-list-item">
          <picture>
            <source
              srcset="
                ../img/covers/laptop/Rectangle-11.png              1x,
                ../img/covers/laptop/laptop-2x/Rectangle-11-2x.png 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ../img/covers/laptop/Rectangle-11.png              1x,
                ../img/covers/laptop/laptop-2x/Rectangle-11-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/covers/mobile/Rectangle-11-mobile.png              1x,
                ../img/covers/mobile/mobile-2x/Rectangle-11-mobile-2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="../img/covers/laptop/Rectangle-11.png"
              class="portfolio-list-img"
              alt="Rectangle-11"
            />
          </picture>
        </li>
      </ul>
      <ul class="container-covers-list">
        <li class="container-covers-list-item">
          <picture>
            <source
              srcset="
                ../img/covers/laptop/Rectangle-5.png              1x,
                ../img/covers/laptop/laptop-2x/Rectangle-5-2x.png 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ../img/covers/laptop/Rectangle-5.png              1x,
                ../img/covers/laptop/laptop-2x/Rectangle-5-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/covers/mobile/Rectangle-5-mobile.png              1x,
                ../img/covers/mobile/mobile-2x/Rectangle-5-mobile-2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="../img/covers/laptop/Rectangle-5.png"
              class="portfolio-list-img"
              alt="Rectangle-5"
            />
          </picture>
        </li>
        <li class="container-covers-list-item">
          <picture>
            <source
              srcset="
                ../img/covers/laptop/Rectangle-4.png              1x,
                ../img/covers/laptop/laptop-2x/Rectangle-4-2x.png 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ../img/covers/laptop/Rectangle-4.png              1x,
                ../img/covers/laptop/laptop-2x/Rectangle-4-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/covers/mobile/Rectangle-4-mobile.png              1x,
                ../img/covers/mobile/mobile-2x/Rectangle-4-mobile-2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="../img/covers/laptop/Rectangle-4.png"
              class="portfolio-list-img"
              alt="Rectangle-4"
            />
          </picture>
        </li>
        <li class="container-covers-list-item">
          <picture>
            <source
              srcset="
                ../img/covers/laptop/Rectangle-6.png              1x,
                ../img/covers/laptop/laptop-2x/Rectangle-6-2x.png 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ../img/covers/laptop/Rectangle-6.png              1x,
                ../img/covers/laptop/laptop-2x/Rectangle-6-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/covers/mobile/Rectangle-6-mobile.png              1x,
                ../img/covers/mobile/mobile-2x/Rectangle-6-mobile-2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="../img/covers/laptop/Rectangle-6.png"
              class="portfolio-list-img"
              alt="Rectangle-6"
            />
          </picture>
        </li>
        <li class="container-covers-list-item">
          <picture>
            <source
              srcset="
                ../img/covers/laptop/Rectangle-8.png              1x,
                ../img/covers/laptop/laptop-2x/Rectangle-8-2x.png 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ../img/covers/laptop/Rectangle-8.png              1x,
                ../img/covers/laptop/laptop-2x/Rectangle-8-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/covers/mobile/Rectangle-8-mobile.png              1x,
                ../img/covers/mobile/mobile-2x/Rectangle-8-mobile-2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="../img/covers/laptop/Rectangle-8.png"
              class="portfolio-list-img"
              alt="Rectangle-8"
            />
          </picture>
        </li>
      </ul>
      <ul class="container-covers-list">
        <li class="container-covers-list-item">
          <picture>
            <source
              srcset="
                ../img/covers/laptop/Rectangle-9.png              1x,
                ../img/covers/laptop/laptop-2x/Rectangle-9-2x.png 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ../img/covers/laptop/Rectangle-9.png              1x,
                ../img/covers/laptop/laptop-2x/Rectangle-9-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/covers/mobile/Rectangle-9-mobile.png              1x,
                ../img/covers/mobile/mobile-2x/Rectangle-9-mobile-2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="../img/covers/laptop/Rectangle-9.png"
              class="portfolio-list-img"
              alt="Rectangle-9"
            />
          </picture>
        </li>
        <li class="container-covers-list-item">
          <picture>
            <source
              srcset="
                ../img/covers/laptop/Rectangle-12.png              1x,
                ../img/covers/laptop/laptop-2x/Rectangle-12-2x.png 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ../img/covers/laptop/Rectangle-12.png              1x,
                ../img/covers/laptop/laptop-2x/Rectangle-12-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/covers/mobile/Rectangle-12-mobile.png              1x,
                ../img/covers/mobile/mobile-2x/Rectangle-12-mobile-2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="../img/covers/laptop/Rectangle-12.png"
              class="portfolio-list-img"
              alt="Rectangle-12"
            />
          </picture>
        </li>
        <li class="container-covers-list-item">
          <picture>
            <source
              srcset="
                ../img/covers/laptop/first-screen-1.png              1x,
                ../img/covers/laptop/laptop-2x/first-screen-1-2x.png 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ../img/covers/laptop/first-screen-1.png              1x,
                ../img/covers/laptop/laptop-2x/first-screen-1-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/covers/mobile/first-screen-1-mobile.png              1x,
                ../img/covers/mobile/mobile-2x/first-screen-1-mobile-2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="../img/covers/laptop/first-screen-1.png"
              class="portfolio-list-img"
              alt="Rectangle-12"
            />
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section> -->
