<header class="header">
    <div class="container header-container">
        <nav class="logo-wrapper">
          <a href="./index.html">
            <picture>
              <source
                srcset="./img/header/header-logo.png 1x,
                ./img/header/header-logo@2x.png 2x"
                width="80"
                height="80"
              />
              <img src="./img/header/header-logo.png" alt="profile-picture" />
            </picture>
          </a>

          <a class="logo-text" href="./index.html">jefferson*</a>
        </nav>
        <div class="naw-contaiher">
          <a class="menu-link" href="">Menu</a>
          <a class="header-button" href="#footer">Order the project</a>
        </div>
        <button class="menu-button" type="button" id="openButton">
            <svg
              class="icon-menu"
              width="28"
              height="28"
            >
              <use href="./img/icons.svg#icon-menu"></use>
            </svg>
          </button>
          </div>

        
        
    </header>

    <!-- MOBILE MENU -->

    <div class="mobile-menu">
      <div class="container mobile-menu-container">
        <button class="mobile-close-btn" type="button">
          <svg
            class="mobile-close-icon"
            width="28"
            height="28"
            aria-label="mobile menu close icon"
          >
            <use href="./img/icons.svg#icon-close"></use>
          </svg>
        </button>
        <nav class="mobile-navigation">
          <ul class="list mobile-menu-list">
            <li class="mobile-menu-item">
              <a class="link mobile-menu-link " href="#about"
                >About me</a
              >
            </li>
            <li class="mobile-menu-item">
              <a class="link mobile-menu-link" href="#benefits">Benefits</a>
            </li>
            <li class="mobile-menu-item">
              <a class="link mobile-menu-link" href="#projects">Projects</a>
            </li>
            <li class="mobile-menu-item">
              <a class="link mobile-menu-link" href="#faq">FAQ</a>
            </li>
          </ul>
        </nav>
        <a class="mobile-order-button" href="#footer">Order the project</a>
      </div>
    </div>

    <!-- DESKTOP MENU -->

    <div class="desktop-menu-wrapper">
      <nav class="desktop-navigation">
        <ul class="list desktop-menu-list">
          <li class="desktop-menu-item">
            <a
              class="link desktop-menu-link "
              href="#about"
              >About me</a
            >
          </li>
          <li class="desktop-menu-item">
            <a class="link desktop-menu-link" href="#benefits"
              >Benefits</a
            >
          </li>
          <li class="desktop-menu-item">
            <a class="link desktop-menu-link" href="#projects"
              >Projects</a
            >
          </li>
          <li class="desktop-menu-item">
            <a class="link desktop-menu-link" href="#faq">FAQ</a>
          </li>
        </ul>
      </nav>
    </div>

    <!-- <script src="./js/script.js" type="module"></script> -->
</header>