<section class="hero" id="hero">
  <div class="container hero-wrapper">
    <h1 class="hero-title">
      <span class="hero-line">Hello. </span> I'm Fullstack developer Lloyd
      Jefferson.
    </h1>
    <div class="swiper">
      <ul class="hero-list">
        <li class="hero-list-item">
          <a
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            class="hero-item-link"
            >IG</a
          >
        </li>
        <li class="hero-list-item">
          <a
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            class="hero-item-link"
            >FB</a
          >
        </li>
        <li class="hero-list-item">
          <a
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
            class="hero-item-link"
            >YT</a
          >
        </li>
        <li class="hero-list-item">
          <a
            href="https://github.com/Vladyslav-Tykhyi/undefined-heroes"
            target="_blank"
            class="hero-item-link"
            >GH</a
          >
        </li>
        <li class="hero-list-item">
          <a
            href="mailto:lloydjefferson@gmail.com"
            class="hero-item-link hero-item-email"
            target="_blank"
            >lloydjefferson@gmail.com</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>
