<section class="reviews">
  <div class="container reviews-container">
    <h2 class="reviews-title">reviews</h2>
    <div class="swiper">
      <!-- Additional required wrapper -->
      <ul class="reviews-list swiper-wrapper">
        <!-- Slides -->
      </ul>

      <!-- If we need navigation buttons -->
      <ul class="reviews-swiper-navigation-buttons">
        <li class="reviews-swiper-button-left">
          <svg class="reviews-icon-left" width="32" height="32">
            <use href="./img/icons.svg#icon-arrow-narrow-left"></use>
          </svg>
        </li>
        <li class="reviews-swiper-button-right reviews-button-active">
          <svg
            class="reviews-icon-right reviews-icon-active"
            width="32"
            height="32"
          >
            <use href="./img/icons.svg#icon-arrow-narrow-right"></use>
          </svg>
        </li>
      </ul>
    </div>
  </div>
</section>
