.benefits {
    margin-top: 64px;
    margin-bottom: 64px;
}

.benefits__title {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--gray);

    margin-bottom: 32px;
}

.benefits__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;
    width: 344px;
}

.benefits__list-item {
    width: 344px;
    border-radius: 20px;
    padding: 24px;
    background: #242527;
}

.benefits__icon-wrap {
    width: 48px;
    height: 48px;
    padding: 12px;
    margin-bottom: 64px;
    border-radius: 10px;
    background-color: var(--red);
}

.benefits__icon {
    background: var(--red);
    stroke: #fff;
    fill: var(--red);
}

.benefits__card-title {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: #FAFAFA;
}

.benefits__card-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: var(--gray);
    margin-top: 8px;
}

.benefits__btn {
    display: inline-block;
    padding: 18px 36px;
    border-radius: 60px;
    border: 1px solid rgba(250, 250, 250, .2);
    color: #fafafa;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -.02em;
    line-height: 1.09;
    width: auto;
    margin-right: auto;
    transition: background-color 200ms ease, box-shadow 200ms ease, scale 200ms ease;
}

.benefits__btn:hover,
.benefits__btn:focus {
    background-color: var(--red);
    transform: scale(1.02);
    box-shadow: 0 4px 12px rgba(200, 30, 40, 0.6), 0 0 25px rgba(200, 30, 40, 0.4);;
}

@media screen and (min-width: 768px) {
    .benefits {
        margin-top: 96px;
        margin-bottom: 96px;
    }

    .benefits__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
        width: 100%;
        margin-bottom: 64px;
    }

    .benefits__list-item {
        width: 100%;
        box-sizing: border-box;
    }
}

@media screen and (min-width: 1440px) {
    .benefits .container {
        display: flex;
        justify-content: space-between;
    }

    .benefits-wrap {
        display: flex;
        flex-direction: column;
        width: 680px;
    }

    .benefits__list {
        gap: 16px;
    }
}