.covers {
  overflow: hidden;
  display: flex;
  width: 100%;

  margin-bottom: 64px;
  backdrop-filter: blur(30px);
  background-image: linear-gradient(
      rgba(217, 217, 217, 0.04),
      rgba(217, 217, 217, 0.04)
    ),
    url(./img/covers/mobile/Rectangle-13.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .covers {
    backdrop-filter: blur(30px);
    background-image: linear-gradient(
        rgba(217, 217, 217, 0.04),
        rgba(217, 217, 217, 0.04)
      ),
      url(./img/covers/mobile/mobile-2x/Rectangle-13-mobile-2x.png);
  }
}

.container-covers {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;

  right: -800px;
  left: 0;
  transform: rotate(16deg);
}
.container-covers-list {
  width: 375px;
  display: flex;
  /* justify-content: center; */
  gap: 10px;
  animation-name: marqueeLine;
  /* animation-duration: 5s; */
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation: animateX50Y10 8000ms infinite 1000ms;
}
@keyframes marqueeLine {
  from {
    transform: translateY(-20%);
    /* transform: rotate(16deg); */
  }

  to {
    transform: translateX(-90%);
  }
}

@keyframes animateX50Y10 {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(-400px, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

@media screen and (min-width: 768px) {
  .covers {
    margin-bottom: 96px;

    backdrop-filter: blur(30px);
    background-image: linear-gradient(
        rgba(217, 217, 217, 0.04),
        rgba(217, 217, 217, 0.04)
      ),
      url(./img/covers/laptop/Rectangle-13-laptop.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .container-covers-list {
    width: 768px;
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .covers {
      backdrop-filter: blur(30px);
      background-image: linear-gradient(
          rgba(217, 217, 217, 0.04),
          rgba(217, 217, 217, 0.04)
        ),
        url(./img/covers/laptop/laptop-2x/Rectangle-13-laptop-2x.png);
    }
  }
}

@media screen and (min-width: 1440px) {
  .covers {
    margin-bottom: 164px;

    backdrop-filter: blur(30px);
    background-image: linear-gradient(
        rgba(217, 217, 217, 0.04),
        rgba(217, 217, 217, 0.04)
      ),
      url(./img/covers/Rectangle-13-comp.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .container-covers-list {
    width: 1440px;
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .covers {
      backdrop-filter: blur(30px);
      background-image: linear-gradient(
          rgba(217, 217, 217, 0.04),
          rgba(217, 217, 217, 0.04)
        ),
        url(./img/covers/Rectangle-13-comp-2x.png);
    }
  }
}

/* .container-cov {
  position: relative;
}

.container-covers {
  position: absolute;
  right: -800px;
  left: 0;
  overflow: hidden;
  width: 375px;
  height: 508px;
  margin-bottom: 64px;
  
}



.container-covers-list {
  display: flex;
  height: 20vh;
  gap: 10px;
  transform: rotate(16deg);
}

.container-covers-list-item {
  width: 282px;
  height: 162px;
  flex-shrink: 0;
  margin-right: 10px; 
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 3); 
  white-space: nowrap;
  animation-name: marqueeLine;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  transform: translateX(-20%);
}
@keyframes marqueeLine {
  from {
    transform: translateX(-20%);
  }
  
  to {
    transform: translateX(-180%);
  }
}




111111111111111111



@media screen and (min-width: 768px) {
  .container-covers {
    width: 768px;
    height: 960px;
    margin-bottom: 96px;
    backdrop-filter: blur(30px);
    background-image: linear-gradient(
        rgba(217, 217, 217, 0.04),
        rgba(217, 217, 217, 0.04)
      ),
      url(../img/covers/laptop/Rectangle-13-laptop.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .container-covers-list-item {
    width: 544px;
    height: 314px;
  }
  .container-covers-list {
    height: 40vh;
  }
  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .container-covers {
      backdrop-filter: blur(30px);
      background-image: linear-gradient(
          rgba(217, 217, 217, 0.04),
          rgba(217, 217, 217, 0.04)
        ),
        url(../img/covers/laptop/laptop-2x/Rectangle-13-laptop-2x.png);
    }
  }
}
2222222222222

  }
  .container-covers-list {
    height: 55vh;
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .container-covers {
      backdrop-filter: blur(30px);
      background-image: linear-gradient(
          rgba(217, 217, 217, 0.04),
          rgba(217, 217, 217, 0.04)
        ),
        url(../img/covers/Rectangle-13-comp-2x.png);
    }
  }
} */
