.covers {
  overflow: hidden;
  /* display: flex; */
  width: 100%;

  margin-bottom: 64px;
  backdrop-filter: blur(30px);
  background-image: linear-gradient(
      rgba(217, 217, 217, 0.04),
      rgba(217, 217, 217, 0.04)
    ),
    url(/img/covers/mobile/Rectangle-13.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .covers {
    backdrop-filter: blur(30px);
    background-image: linear-gradient(
        rgba(217, 217, 217, 0.04),
        rgba(217, 217, 217, 0.04)
      ),
      url(/img/covers/mobile/mobile-2x/Rectangle-13-mobile-2x.png);
  }
}

.container-covers {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;

  right: -900px;
  align-content: center;
  left: 0;
  transform: rotate(16deg);
}

.container-covers-list {
  width: 375px;
  display: flex;
  justify-content: center;
  gap: 10px;
  animation-name: marqueeLine;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation: animateX50Y10 10000ms infinite 1000ms;
}

.portfolio-list-img:hover {
  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: linear;
  transition-delay: 100ms;

  transform: scale(1.25);
}
.list-covers {
  animation: animateX10Y50 10000ms infinite 1000ms;
}
@keyframes marqueeLine {
  from {
    transform: translateY(-20%);
  }

  to {
    transform: translateX(-90%);
  }
}

@keyframes animateX50Y10 {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(-200px, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}
@keyframes animateX10Y50 {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(200px, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

@media screen and (min-width: 768px) {
  .covers {
    margin-bottom: 96px;

    backdrop-filter: blur(30px);
    background-image: linear-gradient(
        rgba(217, 217, 217, 0.04),
        rgba(217, 217, 217, 0.04)
      ),
      url(/img/covers/laptop/Rectangle-13-laptop.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .container-covers-list {
    width: 768px;
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .covers {
      backdrop-filter: blur(30px);
      background-image: linear-gradient(
          rgba(217, 217, 217, 0.04),
          rgba(217, 217, 217, 0.04)
        ),
        url(/img/covers/laptop/laptop-2x/Rectangle-13-laptop-2x.png);
    }
  }
}

@media screen and (min-width: 1440px) {
  .covers {
    margin-bottom: 164px;

    backdrop-filter: blur(30px);
    background-image: linear-gradient(
        rgba(217, 217, 217, 0.04),
        rgba(217, 217, 217, 0.04)
      ),
      url(/img/covers/Rectangle-13-comp.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .container-covers-list {
    width: 1440px;
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .covers {
      backdrop-filter: blur(30px);
      background-image: linear-gradient(
          rgba(217, 217, 217, 0.04),
          rgba(217, 217, 217, 0.04)
        ),
        url(/img/covers/Rectangle-13-comp-2x.png);
    }
  }
}
