.header {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  top: 32px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.logo-wrapper {
  display: flex;
  gap: 8px;
}

.logo-text {
  color: #f7f2f2;
}

.menu-list {
  display: flex;
  align-items: center;
}

.header-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 60px;
  padding: 18px 24px;
  width: 163px;
  height: 55px;
  color: #fafafa;
  background-color: #ed3b44;
  letter-spacing: -0.02em;
  font-size: 15px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-button:hover {
  background-color: #e0373f;
}

.menu-button {
  border: none;
  stroke: #fafafa;
  background-color: transparent;
  line-height: 0;
  display: none;
}

.mobile-menu {
  display: none;
}

.desktop-menu-wrapper {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-52%);
  top: 70px;
  width: 67px;
  text-align: center;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.desktop-menu-list {
  display: none;
}

html {
  scroll-behavior: smooth;
}

/* MOBILE MENU */

@media screen and (max-width: 767px) {
  .menu-button {
    display: block;
  }

  .naw-contaiher {
    display: none;
  }

  .mobile-menu {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, red 0%, black 60%);
    background-image: url(../img/hero/modal-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
  }

  @media screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px),
    screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
    .hero-section {
      background-image: url(../img/hero/modal-bg@2x.png);
    }
  }

  .mobile-menu.is-open {
    transform: translateX(0%);
  }

  .mobile-menu-container {
    width: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    flex-direction: column;
  }

  .mobile-close-btn {
    position: absolute;
    border: none;
    stroke: #fafafa;
    background-color: transparent;
    margin: 32px 16px 0 0;
    right: 0;
  }

  .mobile-navigation {
    margin: auto;
    margin-top: 302px;
  }

  .mobile-menu-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;
  }

  .mobile-menu-item {
  }

  .mobile-menu-link {
    display: inline-block;
    border-bottom: 2px solid;
    padding-bottom: 2px;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #fafafa;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-link {
  }

  .mobile-menu-link:active {
    color: #e0373f;
  }

  .mobile-order-button {
    margin: auto;
    border: none;
    border-radius: 60px;
    padding: 14px 31px;
    width: 164px;
    height: 45px;
    color: #fafafa;
    background-color: #ed3b44;
    font-weight: 500;
    letter-spacing: -0.02em;
    font-size: 14px;
  }

  @keyframes buttonMarkup {
    0% {
      box-shadow: 0 0 10px #e0373f;
    }
    50% {
      box-shadow: 0 0 15px 3px #000000;
    }
    100% {
      box-shadow: 0 0 10px #e0373f;
    }
  }

  .mobile-order-button:active {
    background-color: #e0373f;
  }
}

/* TABLET */

@media screen and (min-width: 768px) {
  .header-container {
    display: flex;
    max-width: 768px;
    justify-content: space-between;
    align-items: flex-start;
  }

  .menu-button-container {
    display: none;
  }

  .naw-contaiher {
    display: contents;
  }

  .icon-menu {
    display: none;
  }

  .desktop-menu-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    color: #fafafa;
    font-size: 16px;
    font-style: normal;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1px;
    text-transform: none;
  }

  .menu-link {
    color: #fdfcfc;
    padding-top: 10px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-block;
    border-bottom: 2px solid;
    padding-bottom: 2px;
  }

  .desktop-menu-link {
    color: #fafafa;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .desktop-menu-link:hover {
    color: #e0373f;
  }
}

/* DESKTOP */

@media screen and (min-width: 1440px) {
  .header {
    padding: 0 32px;
  }

  .header {
    max-width: 1440px;
  }

  .header-container {
    max-width: 1440px;
    padding: 0;
  }

  .menu-link:hover {
    color: #e0373f;
  }
}
