.hero {
  background: linear-gradient(
    270deg,
    #1c1d20 49.68%,
    #69292d 67.73%,
    #ed3b44 100%
  );
  background-image: url('');
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 281px 0 32px 0;
  margin-bottom: 64px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: url('/img/hero/red/mb-bg@2x.png');
  }
}

.hero-title {
  font-weight: 500;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
  margin: 0 0 212px 0;
  max-width: 343px;
}
.hero-line {
  display: block;
}
.hero-list {
  display: flex;
  gap: 4px;
}
.hero-list-item {
}

.hero-item-link {
  display: block;
  font-weight: 500;
  width: 37px;
  height: 37px;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 50%;
}
.hero-item-email {
  border-radius: 60px;
  width: 178px;
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 300px 0 32px 0;
    background-image: url('/img/hero/red/tab-bg.png');
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: url('/img/hero/red/tab-bg@2x.png');
    }
  }
  .hero-title {
    font-size: 90px;
    margin: 0 auto 186px;
    max-width: 632px;
  }

  .hero-list {
    gap: 8px;
    justify-content: end;
  }

  .hero-item-link {
    font-size: 16px;
    width: 55px;
    height: 55px;
  }

  .hero-item-email {
    width: 223px;
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    margin-bottom: 96px;
    background-image: url('/img/hero/red/bg.png');
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: url('/img/hero/red/bg@2x.png');
    }
  }

  .hero-title {
    max-width: 1084px;
  }
}

.hero-item-link {
  transition: color 1ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 1ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 1ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-item-link.hover,
.hero-item-link:active,
.header-item-link:focus {
  color: var(--red);
  border-color: var(--red);
  box-shadow: 0 0 20px var(--red);
}

/*.header-item-link.hover,
.header-item-link:active,
.header-item-link:focus {
  color: var(--red);
  border-color: var(--red);
  box-shadow: 0 0 20px var(--red);
} */
