.backdrop {
    position: fixed;
    background-color: rgba(15, 15, 16, 0.6);;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.modal {
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    position: absolute;
    position: relative;  
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 343px; 
    background-color: var(--background);
    z-index: 1000; 
    transition: opacity 0.3s ease; 
    border: 1px solid rgba(250, 250, 250, 0.1);
    border-radius: 20px;
    padding: 64px 32px;
}

/* .modal-is-hidden {
    display: none; 
} */


/* .modal-content {
    border: 1px solid rgba(250, 250, 250, 0.1);
    border-radius: 20px;
    padding: 64px 32px;

    background: var(--background);
    position: relative; 
} */


.modal-close-btn {
    background-color: none;
    border: none; 
    position: absolute; 
    top: 20px; 
    right: 20px; 
    cursor: pointer;
    background: transparent;
}

.modal-title {
font-weight: 500;
font-size: 20px;
line-height: 150%;
letter-spacing: -0.02em;
text-align: center;
color: #FAFAFA;
margin-bottom: 16px;
}

.modal-text {
font-weight: 300;
font-size: 16px;
line-height: 150%;
letter-spacing: -0.02em;
text-align: center;
color: rgba(250, 250, 250, 0.6);
}

@media screen and (min-width:768px){

    .modal {
        padding: 64px;
        width: 492px;
        background: var(--background);
        position: relative; 
    }
}

@media screen and (min-width:1140px){
    
}