/* Refreshing */
* {padding: 0;margin: 0;border: 0;}
*,*:before,*:after {-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
html,body {height: 100%;width: 100%;font-size: 100%;line-height: 1;
-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale; 
-ms-text-size-adjust: 100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust: 100%;}
input,button,textarea {font-family:inherit;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-clear-inner{padding: 0;border: 0;}
a,a:visited {text-decoration: none;}
a:hover{text-decoration: none;}
ul, ol {list-style: none;}
address{font-style:normal;}
img {vertical-align: top; display:block; max-width:100%; height:auto; }
h1,h2,h3,h4,h5,h6, p {margin:0;}
input {font-family: inherit;}
button {font-family: inherit;color: currentColor;}
html {scroll-behavior: smooth;}